.inner_tbl {
  padding: 12px !important;
  line-height: 26px;
  padding-left: 20px !important;
  border-right: 1px solid #e2e5e8 !important;
  // background-color: #fff !important;
  &:last-child {
    border-right: none !important;
  }
  .btn_dash {
    position: absolute;
    top: 40%;
    right: 4px;
    margin-top: -12px;
    .link_modify {
      display: none;
      float: left;
      .link_g {
        width: 28px;
        height: 28px;
        padding: 3px 0 3px 5px;
        svg {
          color: rgb(145 144 144);
        }
        &:hover {
          svg {
            color: rgb(73 73 73);
          }
        }
      }
    }
    .link_chart {
      display: none;
      float: left;
      .link_g {
        width: 28px;
        height: 28px;
        padding: 3px 0;
        svg {
          color: rgb(145 144 144);
        }
        &:hover {
          svg {
            color: rgb(73 73 73);
          }
        }
      }
    }
    .link_chart.show {
      display: block;
    }
  }
}

tr.on {
  td {
    background-color: #f1f7ff !important;
  }
}

.over {
  td {
    background-color: #f7f7f7 !important;
  }
  .link_chart,
  .link_modify {
    display: block !important;
  }
}
