// 사용자 설정 style
.user_setting_wrapper {
  display: grid;
  // height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  // max-height: 740px !important;
  max-height: 650px !important;
  min-height: 650px;
  overflow-y: auto;
}

.lg_category_column_box {
  // 대분류 컬럼 box css
  display: block;
  width: 100%;
  margin-top: 10px;

  .lg_category_column_header {
    border: solid 1px #ccc;
    border-radius: 3px;
    background-color: #f0f0f0;

    svg {
      cursor: pointer;
      width: 17px;
      height: 17px;
      margin-right: 3px;
      margin-bottom: -2px;
    }
  }

  .lg_category_column_body {
    ul {
      padding: 5px 0 0 10px !important;

      li {
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 13px;
      }
    }
  }
}

.select_column_wrapper {
  // 사용자가 선택한 컬럼들이 담기게 되는 컬럼박스
  display: block;
  // width: 100%;
  margin-top: 10px;
  padding: 8px;
  border: solid 1px #ccc;
  border-radius: 3px;
  background-color: #f0f0f0;

  .select_column_box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 4px;
    border: solid 1px #ccc;
    border-radius: 3px;
    cursor: pointer;

    .drag_icon {
      position: relative;
      // background-color: #3f51b5;
      // color: #fff !important;
      text-align: center;
      padding: 4px 15px;

      svg {
        // padding-top: 3px;
        width: 17px;
        height: 17px;
        margin-bottom: -3px;
      }
    }

    p {
      margin-bottom: 0 !important;
    }

    .delete_icon {
      position: absolute;
      right: 10px;

      svg {
        width: 17px;
        height: 17px;
        margin-bottom: -3px;
      }
    }
  }
}

.select_column_footer {
  // padding: 0 30px 30px;
  text-align: right;
  .btn_group {
    display: inline-block;
    // margin-top: -3px;
    margin-top: 20px;
    vertical-align: top;
  }
}
