.dashcopy_wrap {
  padding: 0 30px 30px;
  .tit_copy {
    display: block;
    margin: 26px 0 7px;
    font-weight: 500;
    color: #111;
  }
  .tit_copy + .txt_copy {
    margin-top: 13px;
  }
  .txt_copy.txt_small {
    color: #777;
    font-size: 12px;
  }
  .txt_copy {
    margin-top: 26px;
    color: #777;
  }
  .reform_area_radiocheck {
    padding-top: 25px;
  }
  .reform_list_radiocheck.reform_list_float {
    li {
      margin-right: 35px;
    }
  }
  .reform_list_radiocheck {
    li {
      &:after {
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
        clear: both;
        content: '';
      }
      margin-right: 0;
      .link_help {
        margin-top: -3px;
      }
    }
    .reform_calendar_adgroup {
      display: block;
      padding: 10px 0 0 26px;
      margin-right: -5px;
    }
  }
  .opt_select {
    display: block;
    max-width: 100%;
    .list_opt {
      overflow: hidden;
      overflow-y: auto;
      max-height: 203px;
      box-sizing: border-box;
    }
  }
}

.reform_list_radiocheck.reform_list_float {
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    clear: both;
    content: '';
  }
  margin-right: -20px;
  li {
    float: left;
    margin-top: 0;
  }
}

.reform_list_radiocheck {
  li {
    &:first-child {
      margin-top: 0;
    }
    &:after {
      display: block;
      visibility: hidden;
      height: 0;
      font-size: 0;
      clear: both;
      content: '';
    }
  }
}

.reform_list_radiocheck > li {
  position: relative;
  margin-top: 15px;
  margin-right: 35px;
  color: #333;
}

.reform_area_radiocheck {
  .opt_select {
    margin-top: 20px;
  }
  .txt_small {
    margin-top: 9px;
  }
  .box_inptxt {
    margin-top: 20px;
  }
}

.layer_foot {
  padding: 0 30px 30px;
  text-align: right;
}

.btn_group {
  display: inline-block;
  vertical-align: top;
}
